body {
    background-color: #f5f6fa;
    text-align: center;
    max-width: 100%;
  }

.header {
    width: 100%;
    height: 60px;
    background-color: #242838;
    margin-top: -20px;
}

/* Navigation bar containing home, about, and contatc */
.nav-div{
    margin:auto;
}
.nav-bar{
    list-style-type: none;
    display: inline-flex;
    padding-right: 25px;
    float:right;
    margin-top: 18px;
}
.nav-bar-link{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    color:#f5f6fa;
    width:100%;
    text-decoration: none;
}
.nav-bar-link:hover {
    opacity: 0.5;
}

/* Dropdown button */
.dropbtn {
    font-size: 20px;
    font-family: inherit;
    color: #f5f6fa;
    padding-left: 20px;
    padding-right: 20px;
    width:100%;
    text-decoration: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.dropbtn:hover {
    opacity: 0.5;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f5f6fa;
    font-size: 20px;
    width: 130px;
    height: 290px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 15px;
    z-index: 1;
    padding: 10px;
    margin-left: -20px;
} 

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: #243e6b;
    text-decoration: none;
    display: block;
    text-align: center;
    padding-top: 15px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Second dropdown button */
/* Dropdown content (hidden by default) */
.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #f5f6fa;
    font-size: 20px;
    width: 120px;
    height: 55px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 15px;
    z-index: 1;
    padding: 10px;
    margin-left: -15px;
} 

/* Links inside the dropdown */
.dropdown-content2 a {
    float: none;
    color: #243e6b;
    text-decoration: none;
    display: block;
    text-align: center;
    padding-top: 15px;
}
.dropdown-content2 a:hover {
    opacity: 0.5;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content2 {
    display: block;
}

/* Third dropdown button */
/* Dropdown content (hidden by default) */
.dropdown-content3 {
    display: none;
    position: absolute;
    background-color: #f5f6fa;
    font-size: 20px;
    width: 100px;
    height: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 15px;
    z-index: 1;
    padding: 10px;
    margin-left: -5px;
} 

/* Links inside the dropdown */
.dropdown-content3 a {
    float: none;
    color: #243e6b;
    text-decoration: none;
    display: block;
    text-align: center;
    padding-top: 15px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content3 {
    display: block;
}


/* Hyperlinks in dropdown */
.phoneNum {
    font-size: 12.5px;
}
.phoneNum:hover {
    opacity: 0.5;
}
.email{
    font-size: 12.5px; 
}
.email:hover {
    opacity: 0.5;
}
.linkedIn{
    font-size: 12.5px;
}
.linkedIn:hover {
    opacity: 0.5;
}
.github {
    font-size: 12.5px;
}
.github:hover {
    opacity: 0.5;
}
.slack {
    font-size: 12.5px;
}
.slack:hover {
    opacity: 0.5;
}

.greet {
    margin-top: 125px;
}
.meet {
    margin-top: 250px;
}

/* My card */
.myConatiner {
    position: relative;
    display: flex;
    justify-content: center;
}
.myContainer .myCard {
    position: relative;
    width: 800px;
    height: 200px;
    margin-bottom: 75px;
    margin-top: 50px;
    margin-left: 20%;
    justify-content: flex-start;
    display: flex;
    background:linear-gradient(45deg,#242838, #243e6b, #8299c1);
    align-items: center;
}
.myContainer .myCard .me {
    position: absolute;
    left: 12.5%;
    transform: translateX(-50%);
    transition: all 1s ease;
}
.myContainer .myCard .myContent {
    color: #f5f6fa;  
    font-family: sans-serif;
    position: relative;
    width: 40%;
    left: 0%;
    opacity: 0;
    text-align: left;
    padding: 20px 20px 20px 40px;
    transition: all 1s ease;

}
.myContainer .myCard:hover .myContent {
    left: 35%;
    opacity: 1;
}
.myContainer .myCard:hover .me {
    height: 180%;
    width: 30%;
}

/* Dog cards */
.container {
    position: relative;
    display: flex;
    justify-content: center;
}
.container .card {
    position: relative;
    width: 800px;
    height: 200px;
    margin-bottom: 75px;
    display: flex;
    background:linear-gradient(45deg,#242838, #243e6b, #8299c1);
    align-items: center;
}
.container .card2 {
    position: relative;
    width: 800px;
    max-width: 800px;
    height: 200px;
    margin-bottom: 75px;
    display: flex;
    background:linear-gradient(45deg,#242838, #243e6b, #8299c1);
    align-items: center;
}
.container .card .sophie {
    position: absolute;
    margin-bottom: -50px;
    left: 80%;
    transform: translateX(-50%);
    transition: all 1s ease;
}
.container .card .finn {
    position: relative;
    margin-bottom: 20px;
    left: 43%;
    transform: translateX(-50%);
    transition: all 1s ease;
}
.container .card2 .grace {
    position: absolute;
    margin-bottom: 90px;
    left: 90%;
    padding-left: 0px;
    padding-right: 0px;
    transform: translateX(-50%);
    transition: all 1s ease;
}
.container .card:hover .sophie {
    height: 250%;
    width: 45%;
}
.container .card:hover .finn {
    height: 280%;
    width: 42%;
}
.container .card2:hover .grace {
    height: 175%;
    width: 45%;
}
.container .card .sophieContent {
    position: relative;
    width: 40%;
    left: 35%;
    opacity: 0;
    text-align: left;
    padding-left:  40px;
    transition: all 1s ease;
}
.container .card .finnContent {
    position: relative;
    width: 40%;
    left: 35%;
    opacity: 0;
    text-align: left;
    padding: 20px 20px 20px 40px;
    transition: all 1s ease;
}
.container .card2 .graceContent {
    position: relative;
    width: 40%;
    left: 35%;
    opacity: 0;
    text-align: left;
    padding: 20px 20px 20px 40px;
    transition: all 1s ease;
}
.container .card:hover .sophieContent {
    left: 0%;
    opacity: 1;
}
.container .card:hover .finnContent {
    left: 0%;
    opacity: 1;
}
.container .card2:hover .graceContent {
    left: 0%;
    opacity: 1;
}
.container .card .sophieContent {
    color: #f5f6fa;  
    font-family: sans-serif; 
}
.container .card .finnContent {
    color: #f5f6fa;  
    font-family: sans-serif; 
}
.container .card2 .graceContent {
    color: #f5f6fa;  
    font-family: sans-serif; 
}


/* Button to bring you to the top of the page */
.backTool {
    width: 100px;
    margin-left: 90%;
    justify-content: center;
}
.backToTop {
    color: #243e6b;
    float: none;
    text-decoration: none;
    border: none;
    background-color: rgba(71, 98, 143, 0.05);
    border-radius: 25px;
    height: 50px;
    width: 50px;
    cursor: pointer;
}
.arrowIcon:hover>.tooltip {
    opacity: 1;
}
.tooltip {
    background-color: rgb(230, 232, 241);
    font-size: 15px;
    color: #243e6b;
    padding: 5px;
    width: 80px;
    border-radius: 10px;
    position: relative;
    text-align: center;
    margin-bottom: 2.5px;
    opacity: 0; 
    transition: all 0.5s ease;
}

.indexBottom {
    height: 800px;
}
.aboutBottom {
    height: 0px;
}